$primaryColor: #f1f1f1;
$black: #222;
$black2: #555;
$black3: #252525;
$black4: #000;
$black5: #212529;
$orange: #eb0028;
$white: #fff;
$grey: #959595;
$grey2: #666;
$grey3: #ccc;
$secondaryColor: #2b1f4d;
$yellow: #ffcc00;
$green: #59b210;
$blue: rgb(56, 10, 223);

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
font-size: 62.5%;
box-sizing: border-box;
scroll-behavior: smooth;
}
body {
font-size: 1.6rem;
font-weight: 400;
font-family: "Archivo", sans-serif;
color: $black;
}
input {
font-size: 1.6rem;
font-weight: 400;
font-family: "Archivo", sans-serif;
color: $black;
}
a {
text-decoration: none;
}
ul {
list-style: none;
}
img {
max-width: 100%;
}
h3 {
font-weight: 500;
}
h4 {
font-weight: 500;
}
.header {
position: relative;
}
.prduc {
	width: 100%;
	min-height: 70px;
	text-align: center;
	background: #EFEDED;
	h1 {
		position: relative;
		top: 15px;
		margin-bottom: 12px;
	}
}
@media only screen and (max-width: 700px) {
	.prduc {
		h1 {
			font-size: 25px;
		}
	}
}
.container {
	max-width: 117rem;
	margin: 0 auto;
	padding: 0 1.6rem;
  }

  .title__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 6rem;
	padding: 2rem 0;
	background-color: var(--primaryColor);
}
.section__titles {
	&:not(:last-child) {
		margin-right: 1.5rem;
	}
}
.section__title {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	h1 {
		font-size: 1.9rem;
		font-weight: inherit;
	}
	&:hover {
		.primary__title {
			opacity: 1;
		}
		span.dot {
			opacity: 1;
			&::before {
				opacity: 1;
			}
		}
	}
	.primary__title {
		opacity: 0.6;
		padding-left: 0.5rem;
		transition: opacity 0.3s ease-in-out;
	}
} 

.completePurchase {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}