$color_1: var(--black);
$color_2: var(--orange);
$color_3: var(--primaryColor);
$color_4: var(--grey2);
$color_5: var(--white);
$color_6: white;
$color_7: var(--grey3);
$color_8: var(--grey);
$font-family_1: "Archivo", sans-serif;
$font-family_2: Roboto;
$background-color_1: var(--white);
$background-color_2: var(--orange);
$background-color_3: var(--primaryColor);
$background-color_4: #000000;
$background-color_5: var(--black3);


&:root {
	--primarycolor: #f1f1f1;
	--black: #222;
	--black2: #555;
	--black3: #252525;
	--black4: #000;
	--black5: #212529;
	--orange: #eb0028;
	--white: #fff;
	--grey: #959595;
	--grey2: #666;
	--grey3: #ccc;
	--secondarycolor: #2b1f4d;
	--yellow: #ffcc00;
	--green: #59b210;
	--blue: rgb(56, 10, 223);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-size: 1.6rem;
	font-weight: 400;
	font-family: $font-family_1;
	color: $color_1;
}
input {
	font-size: 1.6rem;
	font-weight: 400;
	font-family: $font-family_1;
	color: $color_1;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
}
h3 {
	font-weight: 500;
}
h4 {
	font-weight: 500;
}
.header {
	position: relative;
}
.container {
	max-width: 117rem;
	margin: 0 auto;
	padding: 0 1.6rem;
}
.navigation {
	position: relative;
	height: 7rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	height: 7rem;
	padding: 0 1rem;
}
.fix__nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $background-color_1;
	z-index: 1200;
}
.nav__logo {
	a {
		font-size: 2.5rem;
		color: $color_1;
		padding: 1.6rem;
		font-weight: 700;
	}
}
.nav__hamburger {
	display: none;
	cursor: pointer;
	svg {
		height: 2.3rem;
		width: 2.3rem;
	}
}
.menu__top {
	display: none;
}
.nav__menu {
	width: 50%;
}
.nav__list {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
	.nav__link {
		&:link {
			display: inline-block;
			font-size: 1.4rem;
			text-transform: uppercase;
			color: $color_1;
			transition: color 0.3s ease-in-out;
		}
		&:visited {
			display: inline-block;
			font-size: 1.4rem;
			text-transform: uppercase;
			color: $color_1;
			transition: color 0.3s ease-in-out;
		}
		&:hover {
			color: $color_2;
		}
	}
}
.nav__item {
	&:not(:last-child) {
		margin-right: 1.6rem;
	}
}
.nav__icons {
	display: flex;
	position: relative;
	.icon__item {
		svg {
			width: 1.6rem;
			height: 1.6rem;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.7rem;
		border: 1px solid var(--black);
		border-radius: 50%;
		transition: background-color 0.3s ease-in-out;
		&:link {
			color: $color_1;
		}
		&:visited {
			color: $color_1;
		}
		&:hover {
			background-color: $background-color_2;
			border: 1px solid var(--black);
		}
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
	#cart__total {
		font-size: 1rem;
		position: absolute;
		top: 2px;
		right: -6px;
		background-color: $background-color_2;
		padding: 0.2rem 0.4rem;
		border-radius: 100%;
		color: $color_3;
	}
}
.page__title-area {
	background-color: $background-color_3;
}
.page__title-container {
	padding: 1rem;
}
.page__titles {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	color: $color_4;
	a {
		margin-right: 2rem;
		svg {
			width: 1.8rem;
			height: 1.8rem;
			fill: var(--grey2);
		}
	}
}
.page__title {
	position: relative;
	&::before {
		position: absolute;
		content: "/";
		top: 0;
		left: -1rem;
	}
}
.prduc {
	width: 100%;
	min-height: 70px;
	text-align: center;
	background: #EFEDED;
	h1 {
		position: relative;
		top: 15px;
	}
}
.text {
	text-align: center;
	font-size: 35px;
	font-family: $font-family_2;
	p {
		position: relative;
		top: 25px;
		left: 20px;
		width: 1440px;
		height: 52px;
		gap: 50px;
	}
}
.avo {
	position: relative;
	top: 100px;
	background: #F2E7E7;
	width: 100%;
	height: 745px;
}
.textp {
	h4 {
		text-align: center;
		font-family: $font-family_2;
		font-size: 30px;
		font-style: bold;
		width: 500px;
		height: 97px;
		position: relative;
		top: 200px;
		margin-left: 800px;
	}
	p {
		text-align: center;
		font-family: $font-family_2;
		font-size: 35px;
		font-style: bold;
		width: 550px;
		height: 97px;
		position: relative;
		top: 200px;
		margin-left: 800px;
		line-height: 50px;
	}
}
.textimg {
	img {
		width: 572px;
		height: 600px;
		position: relative;
		bottom: 100px;
	}
}
.textimg1 {
	img {
		width: 572px;
		height: 600px;
		position: relative;
		bottom: 100px;
		left: 50px;
	}
}
.buuutt {
	position: relative;
	left: 1000px;
	bottom: 250px;
	width: 200px;
	height: 60px;
	background-color: $background-color_4;
	border-radius: 50px;
	color: $color_6;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.footer {
	background-color: $background-color_5;
	padding: 6rem 1rem;
	line-height: 3rem;
}
#footer {
	position: relative;
	top: 90px;
}
.footer-top__box {
	span {
		svg {
			width: 1.6rem;
			height: 1.6rem;
			fill: var(--grey3);
		}
		margin-right: 1rem;
	}
	a {
		&:link {
			display: block;
			color: $color_8;
			font-size: 1.4rem;
			transition: 0.6s;
		}
		&:visited {
			display: block;
			color: $color_8;
			font-size: 1.4rem;
			transition: 0.6s;
		}
		&:hover {
			color: $color_2;
		}
	}
	div {
		color: $color_8;
		font-size: 1.4rem;
	}
	h3 {
		font-size: 1.8rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}
}
.footer__top {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: $color_7;
}
@media only screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: 0;
		left: -30rem;
		width: 0;
		background-color: $background-color_1;
		z-index: 9990;
		height: 100%;
		transition: all 0.5s;
	}
	.nav__menu.open {
		left: 30rem;
		width: 30rem;
	}
	.nav__logo {
		width: 50%;
	}
	.nav__hamburger {
		display: block;
	}
	.menu__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $background-color_2;
		padding: 1.8rem 1rem;
		svg {
			height: 1.6rem;
			width: 1.6rem;
			fill: var(--primaryColor);
		}
	}
	.nav__category {
		color: $color_5;
		font-size: 2.3rem;
		font-weight: 700;
	}
	.nav__list {
		flex-direction: column;
		align-items: start;
		padding: 1.6rem 1rem;
		.nav__link {
			&:link {
				padding: 1.6rem 0;
				width: 100%;
				color: $color_4;
			}
			&:visited {
				padding: 1.6rem 0;
				width: 100%;
				color: $color_4;
			}
		}
	}
	.nav__item {
		&:not(:last-child) {
			margin-right: 0;
		}
		width: 100%;
	}
	body.active {
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 110%;
			background: var(--black) none no-repeat 0 0;
			opacity: 0.7;
			z-index: 999;
			transition: 0.8s;
		}
	}
	.footer__top {
		grid-template-columns: 1fr;
		row-gap: 2rem;
	}
}
@media only screen and (max-width: 568px) {
	.nav__icons {
		.icon__item {
			svg {
				width: 1.4rem;
				height: 1.4rem;
			}
			padding: 0.4rem;
		}
	}
}
@media only screen and (max-width: 700px) {
	.prduc {
		h1 {
			font-size: 25px;
		}
	}
	.text {
		p {
			width: 380px;
			height: 38px;
			font-size: 18px;
			text-align: center;
		}
	}
}
@media only screen and (max-width: 998px) {
	.avo {
		width: 100%;
		height: 251px;
	}
	.textp {
		h4 {
			position: relative;
			right: 600px;
			top: 60px;
			width: 205px;
			height: 29px;
			font-size: 12px;
		}
		p {
			position: relative;
			right: 600px;
			top: 70px;
			width: 200px;
			height: 77px;
			font-size: 10px;
			font-style: bold;
			line-height: 16px;
		}
	}
	.textimg {
		img {
			position: relative;
			bottom: 90px;
			width: 170px;
			height: 200px;
		}
	}
	.buuutt {
		width: 90px;
		height: 60px;
		position: absolute;
		left: 260px;
		top: 175px;
		background-color: $background-color_4;
		border-radius: 50px;
		color: $color_6;
		padding: 13px 13px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 1%;
		cursor: pointer;
	}
	.textimg1 {
		img {
			width: 176px;
			height: 174px;
			position: relative;
			bottom: 60px;
			left: 20px;
		}
	}
	.footer__top {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2rem;
	}
}
