/*
======================
Latest Products
======================
*/



$primaryColor: #f1f1f1;
$black: #222;
$black2: #555;
$black3: #252525;
$black4: #000;
$black5: #212529;
$orange: #eb0028;
$white: #fff;
$grey: #959595;
$grey2: #666;
$grey3: #ccc;
$secondaryColor: #2b1f4d;
$yellow: #ffcc00;
$green: #59b210;
$blue: rgb(56, 10, 223);


.title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 6rem;
    padding: 2rem 0;
    background-color: $primaryColor;
  
    position: relative;
    top: 20px;
  
    
    a{
      color: #000;
   }
  
  
  }
  a.go-to-products {
    display: flex;
    justify-content: flex-end;
    svg {
      width: 16px;
      margin-left: 10px;
    }
}
  img.product-img {
    max-height: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
